@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

main {
  @apply min-h-screen;
}
